<!doctype html>

<meta>
  <script src="/static/qr-scanner.legacy.min.js"></script>
</meta>

<title>Fedimint Signet Faucet</title>
<div id="main">
<h1>Join Federation</h1>

<p>
  This signet <a href="https://github.com/fedimint/fedimint">Fedimint</a> instance runs on commit
  <a href="https://github.com/fedimint/fedimint/commit/734f1414298816ef36ae5ca1299049556276ebd6"><code>734f141</code></a>.
  To test it there exist four clients:
  <ul>
    <li>
      <p><a href="https://github.com/futurepaul/fluttermint">Fluttermint Mobile</a>: The most developed
      and user friendly of the clients. Currently, only receiving and sending via Lightning is supported while underneath
      e-cash is used. <a href="https://github.com/futurepaul/fluttermint/releases">Download Android APK</a> or <a href="https://testflight.apple.com/join/Coep5PZS">join iOS testflight</a></p>
      <p>To join the federation scan the below QR code or paste the federation code.</p>
    </li>
    <li>
      <p><a href="https://fm-app.sirion.io/">Fluttermint Web</a>: an old fork of Fluttermint that came out of this year's
      Summer of Bitcoin internship program. It runs in the web browser but isn't being actively developed anymore. It's
      rather slow and buggy, but can be used for some basic testing.</p>
      <p>To join the federation scan the below QR code or paste the federation code.</p>
    </li>
    <li>
      <p><a href="https://github.com/fedimint/fedimint/tree/master/client/cli">CLI client</a>: The main Fedimint repository
      contains a CLI client that is used for testing. It supports on-chain, Lightning and pure e-cash transactions and
      is the most complete of the clients but very manual and requires some level of expertise.</p>

      <p>To compile it <a href="https://nixos.org/download.html">Nix</a> has to be installed. The an environment containing
      the CLI client can be entered by calling <code>nix shell .#mint-client-cli</code> from the root of the Fedimint
      git repository.</p>

      <p>To join the federation call <code>mint-client-cli &lt;datadir&gt; join-federation '&lt;federation code&gt;'</code>.
      For more information see the <a href="https://github.com/fedimint/fedimint/blob/master/docs/dev-running.md#using-the-client">documentation</a>
      and tests in the repository.</p>
    </li>
    <li>
      <a href="https://www.webimint.xyz/">Webimint</a>: This one is the newest experimental client. It runs in the
      browser and only supports e-cash to e-cash transfers, so one needs to get e-cash tokens from someone with a CLI
      client or another Webimint user.
    </li>
  </ul>
</p>

<img style="height: 200px; width: 200px;" src="{{ qrcode(connect_str) }}">

<p>Federation Code: <pre>{{ connect_str }}</pre></p>

<h1>Pay Invoice</h1>
<p>You can use this faucet to acquire signet e-cash tokens from the federation via Lightning. Please be considerate and
  only request 1000 signet sats per person. While they are worthless they are hard to come by somehow and thus our LN
  channels are small.</p>
<br>
{% if pay_result %}
  <pre>{{ pay_result }}</pre>
{% endif %}

<div id="video-container">
  <video id="video"></video>
</div>

<button id="scan" type="submit">Scan</button>
<button id="stop" type="submit">Stop</button>

<form method="post">
  <label for="invoice">Invoice to pay:</label><br>
  <input type="text" id="invoice" name="invoice"><br>
  <input type="submit" value="Submit">
</form>


<h1>Create Invoice</h1>
<p>To send back signet BTC or just to test sending there is a BTCPay server instance on signet connected to this
  instances' Lightning gateway. </p>
<a target="_blank" href="https://sigpay.sirion.io/apps/33Au5UDsPWnUL5GVT8q1Yjovw83K/crowdfund">To spend your freshly
  acquired signet sats you can use this BTCPay site (goes back into the faucet).</a>

<h1>About</h1>
To my knowledge this is the first public Fedimint instance. Any feedback is welcome at <a href="mailto:elsirion@protonmail.com">elsirion@protonmail.com</a>.
<!--
{% if invoice %}
  <img style="height: 200pxm; width: 200px;" src="{{ qrcode(invoice) }}">
  <pre>{{ invoice }}</pre>
{% endif %}

<form method="post">
  <label for="amount">How much:</label><br>
  <input type="text" id="amount" name="amount"><br>
  <input type="submit" value="Submit">
</form>
-->
</div>
  <script type="module">
    var scan = document.getElementById('scan');
    var stop = document.getElementById('stop');
    var video = document.getElementById('video');
    var invoice = document.getElementById('invoice');
    var videoContainer = document.getElementById('video-container');

    function stopCamera() {
      qrScanner.stop()
      stop.style.display = "none"
      scan.style.display = "block"
      videoContainer.style.display = "none"
    }

    scan.addEventListener('click', function () {
      qrScanner.start()
      stop.style.display = "block"
      scan.style.display = "none"
      videoContainer.style.display = "block"
    })
    stop.addEventListener('click', stopCamera)

    const qrScanner = new QrScanner(
      video,
      result => {
        let parsed = result.replace("lightning:", "")
        invoice.value = parsed;
        stopCamera()
      },
    );

</script>

<style>
  #video {
    width: 400px;
  }

  #video-container {
    display: none;
  }

  #stop {
    display: none;
  }

  #main {
    max-width: 550px;
    text-align: justify;
    margin: auto;
  }

  pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
</style>
