<!doctype html>

<meta>
  <script src="/static/qr-scanner.legacy.min.js"></script>
</meta>

<title>Fedimint Helper</title>
<div id="main">
<h1>Join Federation</h1>

<p>
  This signet <a href="https://github.com/fedimint/fedimint">Fedimint</a> instance runs on commit <code>a26e14b</code>. To
  test it you can use <a target="_blank" href="https://fm-app.sirion.io/">this web client</a>
  (<a href="https://github.com/futurepaul/fluttermint">based on a Fluttermint fork</a>) or compile the command line client by cloning
  <a href="https://github.com/fedimint/fedimint/">the repository</a>, checking out <code>a26e14b</code>, having
  <a href="https://github.com/fedimint/fedimint/blob/master/docs/dev-env.md">Nix installed</a> and calling
  <code>nix shell .#mint-client-cli</code>. The web client will ask for the below connect string/scanning the QR code to
  join the federation. The CLI client has to be called with
  <code>mint-client-cli &lt;datadir&gt; join-federation '&lt;connect string&gt;'</code> to the same effect.
</p>

<img style="height: 200px; width: 200px;" src="{{ qrcode(connect_str) }}">

<p>Connect string: <pre>{{ connect_str }}</pre></p>

<h1>Pay Invoice</h1>
<p>Please be nice and only request 1000 signet sats per person. While they are worthless they are hard to come by somehow
and thus our LN channels are small.</p>
<br>
{% if pay_result %}
  <pre>{{ pay_result }}</pre>
{% endif %}

<div id="video-container">
  <video id="video"></video>
</div>

<button id="scan" type="submit">Scan</button>
<button id="stop" type="submit">Stop</button>

<form method="post">
  <label for="invoice">Invoice to pay:</label><br>
  <input type="text" id="invoice" name="invoice"><br>
  <input type="submit" value="Submit">
</form>


<h1>Create Invoice</h1>
<a target="_blank" href="https://sigpay.sirion.io/apps/33Au5UDsPWnUL5GVT8q1Yjovw83K/crowdfund">To spend your freshly acquired signet sats you can use this BTCPay site (goes back into the faucet).</a>
<!--
{% if invoice %}
  <img style="height: 200pxm; width: 200px;" src="{{ qrcode(invoice) }}">
  <div>{{ invoice }}</div>
{% endif %}

<form method="post">
  <label for="amount">How much:</label><br>
  <input type="text" id="amount" name="amount"><br>
  <input type="submit" value="Submit">
</form>
-->
</div>
  <script type="module">
    var scan = document.getElementById('scan');
    var stop = document.getElementById('stop');
    var video = document.getElementById('video');
    var invoice = document.getElementById('invoice');
    var videoContainer = document.getElementById('video-container');

    function stopCamera() {
      qrScanner.stop()
      stop.style.display = "none"
      scan.style.display = "block"
      videoContainer.style.display = "none"
    }

    scan.addEventListener('click', function () {
      qrScanner.start()
      stop.style.display = "block"
      scan.style.display = "none"
      videoContainer.style.display = "block"
    })
    stop.addEventListener('click', stopCamera)

    const qrScanner = new QrScanner(
      video,
      result => {
        let parsed = result.replace("lightning:", "")
        invoice.value = parsed;
        stopCamera()
      },
    );

</script>

<style>
  #video {
    width: 400px;
  }

  #video-container {
    display: none;
  }

  #stop {
    display: none;
  }

  #main {
    max-width: 500px;
    text-align: justify;
    margin: auto;
  }
</style>
